/* This stylesheet should be @imported inside a context identifying the
 * dialog's wrapper div.   For example:
 *  #brushdialog { @import "brushdialog"; }
 */

@mixin no-select {
  // disable text selection in this element
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
}
@mixin outline($value) {
  -moz-outline: $value;
  outline: $value;
}
@mixin no-outline {
  @include outline(0px none);
}

& {
  position: absolute; top: 0; left: 50%; margin-left: -200px;
  background: #404040; /* "toolbar grey" */
  width: 400px;
  min-height: 400px;
  overflow: hidden;

  @include border-bottom-radius(15px);
  @include transition(transform 1s);
  @include translate3d(0,-100%,0); // 3d for safari
  @include transform-origin(center, top);
  @include no-select;
}
&.visible {
  @include translate3d(0,0,0);
}
a:focus,
.wheel > .color:focus {
  @include outline(2px dotted #888);
}

/*
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  & {
    -webkit-transform: translate3d(0,-100%,0) scale(0.66);
    -moz-transform: translate(0,-100%) scale(0.66);
    transform: translate(0,-100%) scale(0.66);
  }
  &.visible {
    -webkit-transform: translate3d(0,0,0) scale(0.66);
    -moz-transform: translate(0,0) scale(0.66);
    transform: translate(0,0) scale(0.66);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  & {
    -webkit-transform: translate3d(0,-100%,0) scale(0.5);
    -moz-transform: translate(0,-100%) scale(0.5);
    transform: translate(0,-100%) scale(0.5);
  }
  &.visible {
    -webkit-transform: translate3d(0,0,0) scale(0.5);
    -moz-transform: translate(0,0) scale(0.5);
    transform: translate(0,0) scale(0.5);
  }
}
*/

.panes {
  width: 200%;
  min-height: 400px;
  @include translate3d(0,0,0);
   /* duration is 0s to allow quick configuration when invisible */
  @include transition(transform 0s ease-in-out);

  @include no-select;

  &:after {
    content: "";
    clear: both;
  }
}
&.visible .panes {
  /* only animate when visible */
  @include transition-duration(0.5s);
}
.color_options,
.brush_options {
  float: left;
  width: 50%;
  /* workaround for FF not clipping .allbrushes:before to .scrollwrapper
     properly: */
  overflow: hidden;
  /* hiding inactive panes is needed to work around FF keyboard focus issues */
  visibility: hidden;
  @include transition(visibility 0s linear 0.5s);
}
&.color .color_options,
&.brush .brush_options {
  visibility: visible;
  @include transition-delay(0s);
}
&.color .panes {
  @include translate3d(-50%,0,0);
}
&.color .brush_options *,
&.brush .color_options * {
  /* this should work, but FF removed it:
   *   https://bugzilla.mozilla.org/show_bug.cgi?id=379939 */
  -moz-user-focus: ignore;
      user-focus: ignore;
  -moz-user-input: none;
       user-input: none;
}

/* --------- page selector and close widgets ------- */
.page_select {
  text-align: center;
  padding: 17px;

  & > a {
    @include inline-block;
    height: 39px; width: 39px;
    margin: 0 32px;
    position: relative; /* use this as position reference for pseudo-elements */

    &:focus { @include no-outline; }
    &:before {
      content: ""; /* needs to be present or pseudo-element isn't created */
      position: absolute; top: -2px; bottom: -2px; left: -2px; right: -2px;
      @include border-radius(5px);
      border: 2px dotted transparent;
    }
    &:focus:before {
      border-color: #555;
    }
  }
}
&.brush .page_select > .brush_select:before,
&.color .page_select > .color_select:before {
  background: #666; /* highlight */
}
&.brush .page_select > .brush_select:focus:before,
&.color .page_select > .color_select:focus:before {
  border-color: #888; /* lighten highlight */
}

.page_select > .color_select:after {
  content: ""; /* needs to be present or pseudo-element isn't created */
  position: absolute; top: 2px; bottom: 2px; left: 2px; right: 2px;
  @include border-radius(50%);
  border: 2px solid #666;
  background: image-url('checkerboard.svg');
  background-position: center;
}
.page_select > .color_select > span {
  position: absolute; top: 4px; bottom: 4px; left: 4px; right: 4px;
  display: block;
  background: currentColor;
  z-index: 2;
  @include border-radius(50%);
}
&.color .page_select > .color_select:after {
  border-color: #888;
}
.page_select > .brush_select:after {
  background-image: image-url('tool-brush.svg');
  background-repeat: no-repeat;
  @include background-size(49px);
  background-position: center center;
  content: ""; /* needs to be present or pseudo-element isn't created */
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

& > .close_pane {
  text-align: center;
  padding: 13px;

  .closer {
    @include inline-block;
    background: image-url('up-arrow.svg') no-repeat;
    width: 32px; height: 20px;
    background-position: center center;
  }
}

/* --------- general slider styling --------- */
%fd-round-with-border {
  border: 2px solid #666;
  @include border-radius(5px);
}
.fd-slider {
  @include inline-block;
  position: relative;
  width: 302px; height: 30px;
  text-align: center;
  border: 0 none;
  cursor:pointer;
  @include no-select;
}
.fd-slider-inner {
  position: absolute; left: 0; right: 0;
  display: block;
  z-index: 1;
  top: 8px;
  height:10px;
  text-align:left;
  background: #333;
  @extend %fd-round-with-border;
}
.fd-slider-bar {
  @extend .fd-slider-inner;
  display: none; /* this would be a line running down the center typically */
  z-index: 2;
}
.fd-slider-handle {
  position: absolute; top: 0; left: 0;
  display: block;
  padding: 0; margin: 0;
  z-index: 3;
  width: 15px; height: 30px;
  background: #8c8c8c;
  @include box-sizing(border-box);
  @include no-select;
  @extend %fd-round-with-border;
  &, &:focus { @include no-outline; }
  &:focus::-moz-focus-inner { border-color: transparent; }
}
/* hover effect */
.fd-slider-hover .fd-slider-handle {
  border: 2px solid #777;
  background: #999
}
/* focus effect */
.fd-slider-handle:focus,
.focused .fd-slider-handle {
  border: 2px solid #888;
  background: #ccc;
}
/* focused *and* hovered */
.focused.fd-slider-hover .fd-slider-handle {
  background: #ddd;
}

input.fd_slider { display: none; } /* hide slider input */

/* -------------- brush options ------------- */
.stroke {
  position: relative;
  height: 130px;
}
.shape {
  display: block;
  height: 120px;
  border: 2px solid #666;
  background: white;
  margin: 0 2px;
  position: relative;
  -moz-user-focus: normal; /* allow to take focus */
  &:focus {
    border: 2px dotted #888;
    @include no-outline;
  }
  &:before, &:after {
    content: "";
    position: absolute; left: 50%; top: 0;
    width: 0; height: 0;
  }
  &:before {
    margin-left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #666;
  }
  &:after {
    top: -3px;
    margin-left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #404040;
  }

  & > .scrollwrapper {
    height: 120px;
    overflow: hidden;

    & > .allbrushes {
      /* 10 100px brushes, plus borders on each side */
      height: 100px; width: 1292px;
      position: relative;

      &:before {
        content: "";
        position: absolute; left: 148px; top: 8px;
        width: 1000px;
        height: 100px;
        background-image: url('../brushes/brush-tile-129.png');
        background-repeat: no-repeat;
        @include background-size(auto 100px);
      }
    }
  }
}
%plusminus {
  @include inline-block;
  width: 32px; height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -1px; margin-bottom: -1px; /* effectively 30px tall */
}
.minus {
  @extend %plusminus;
  background-image: image-url('circle-minus.svg');
}
.plus {
  @extend %plusminus;
  background-image: image-url('circle-plus.svg');
}
.spacing {
  margin-top: 10px;
}
.size,
.spacing {
  padding: 17px 30px;
  text-align: center;

  .fd-slider {
    width: 252px;
    margin: 0 12px;
  }
}

/* -------------- color options ------------- */
.swatches {
  text-align: center;

  & > a {
    position: relative;
    @include inline-block;
    border: 2px solid #666;
    height: 28px;
    width: 77px;
    margin-left: 4px; margin-right: 4px;
    background: currentColor;

    &:focus { @include no-outline; }
    &[href]:focus {
      border: 2px dotted #888;
    }
    &.old,
    &.old[href]:focus {
      border-right: none;
      margin-right: 0;
    }
    &.new,
    &.new:focus {
      border-left: none;
      margin-left: 0;
    }
    &.new:before,
    &.old:before {
      position: absolute; left: 0; right: 0; top: 0; bottom: 0;
      background: image-url('checkerboard.svg');
      background-position: center;
      z-index: -1;
      content: "";
    }
    &.white {
      background: white;
      @include border-left-radius(5px);
    }
    &.black {
      background: black;
      @include border-right-radius(5px);
    }
  }
}

.wheel {
  text-align: center;
  position: relative;
  margin-top: 10px;
  width: 302px;
  margin-left: auto; margin-right: auto; /* center */
  @include no-select;

  %circle {
    @include border-radius(50%);
    cursor: pointer;
    @include no-select;
  }
  & > .color {
    @extend %circle;
    @include inline-block;
    position: relative; /* z-ordering with thumb */
    border: 2px solid #666;
    width: 298px; height: 298px;
    //background: image-url('color-wheel.svg');
    background-image: image-url('color-wheel.png');
    @include background-size(100%);

    & > div {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      @extend %circle;

      &.white {
        background: white;
        opacity: 0;
      }
      &.black {
        background: black;
        opacity: 0;
      }
    }
  }
  & > .thumb {
    position: absolute; left: 2px; top: 2px; /* offset past border */
    width: 22px; height: 22px;
    margin-left: -11px; margin-top: -11px;
    border: 2px solid black;
    background: currentColor;
    pointer-events: none;
    @include translate3d(0,0,0);
    @extend %circle;

    &:after {
      position: absolute; left: -1px; right: -1px; top: -1px; bottom: -1px;
      border: 2px solid white;
      content: "";
      pointer-events: none;
      @extend %circle;
    }
  }
}

.lightness {
  text-align: center;
  padding: 17px 0;

  .fd-slider-inner {
    @include background(linear-gradient(left, black, currentColor 50%, white 100%));
    /* XXX compass doesn't emit the proper unprefixed gradient */
    background: linear-gradient(to right, black, currentColor 50%, white 100%);
  }
}

/* -------------- opacity slider ------------ */
.opacity_options {
  text-align: center;
  padding: 17px 0;

  .fd-slider-inner {
    background: image-url('checkerboard.svg');
    background-position: center;
  }
  .fd-slider-bar {
    display: block;
    @include background(linear-gradient(left, transparent, currentColor 100%));
    /* XXX compass doesn't emit the proper unprefixed gradient */
    background: linear-gradient(to right, transparent, currentColor 100%);
  }
}
