@charset "utf-8";
@import "base";

html, body, #frame {
 width:100%; height:100%; margin:0; padding: 0; border:none;
 overflow: hidden;
}
#frame {
  display: block;
  position: relative;
}

#brushpane {
  @import "brushdialog";
}
