@charset "utf-8";
@import "base";
@import "appcacheui";

%maxed {
  display: block;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  content: "";
}

html,body { width:100%; height:100%; margin:0px; border:none; }
body { overflow: hidden; }
iframe {
  @extend %maxed;
  border: none;
  margin: 0;
  width: 100%; height: 100%;
}
#wrapper {
  position: absolute;
  top: 44px; bottom: 0px;
  left: 0px; right: 0px;
}
#toolbar {
  position: absolute;
  height: 44px;
  width: 100%;
  top: 0px; left: 0px;
  overflow: hidden;
  &:before {
    @extend %maxed;
    /* from http://wiki.sugarlabs.org/go/Human_Interface_Guidelines */
    background: #404040; /* "toolbar grey" */
    z-index: -2; /* play nice with background of color swatch */
  }

  .buttons {
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 7px;
    white-space: nowrap;
  }
  %toolbar-item {
    display: none;
    margin-left: 5px;
    padding: 0;
    position: relative;
  }

  %svg-icon {
    @include background-size(100%);
    background-position: center center;
  }
  .icon {
    @extend %toolbar-item;
    width: 30px;
    height: 30px;
    border: none;
    opacity: 0.9;
    &:hover, &.hover {
      opacity: 1.0;
    }
    &.play {
      background-image: image-url('media-playback-start.svg');
      @extend %svg-icon;
      &.playing {
        background-image: image-url('media-playback-stop.svg');
      }
      &.stopping {
        background-image: image-url('media-seek-forward-insensitive.svg');
      }
    }
    &.undo {
      background-image: image-url('edit-undo.svg');
      @extend %svg-icon;
      @include background-size(190%);
    }
    &.redo {
      background-image: image-url('edit-redo.svg');
      @extend %svg-icon;
      @include background-size(190%);
    }
    &.color {
      @include box-sizing(border-box);
      border: 2px solid #ddd;
      @include border-radius(50%);
      background: currentColor;
      opacity: 1; /* work around a webkit bug */
      &:hover, &.hover { border-color: #fff; }
      &:before {
        @extend %maxed;
        @include border-radius(50%);
        background: image-url('checkerboard.svg');
        background-position: center;
        z-index: -1; /* put this behind the color swatch */
      }
    }
    &.brush {
      background-image: image-url('tool-brush.svg');
      @extend %svg-icon;
      @include background-size(120%);
    }
    &.layer {
      background-image: image-url('view-list.svg');
      @extend %svg-icon;
    }
    &.save {
      background-image: image-url('document-save.svg');
      @extend %svg-icon;
    }
    &.trash {
      @extend %svg-icon;
      background-image: image-url('trash.svg');
      @include background-size(150%);
      //background-image: image-url('trash-man.svg');
      //@include background-size(115%);
      opacity: 0.4; // darker than usual
      &.dropping {
        opacity:1;
        background-color: #888;
        @include border-radius(5px);
        @include box-shadow(0 0 30px white);
      }
    }
  }

  .swatch {
    @extend %toolbar-item;
    width: 26px;
    height: 26px;
    border: 2px solid #a6a6a6;
    background: image-url('checkerboard.svg');
    background-size: 65%;
    background-position-x: 1px;
    background-position-y: 1px;
    margin-left: 0;
    border-left: none; border-right: none;
    &.red { border-left: 2px solid #a6a6a6; }
    &.black { border-right: 2px solid #a6a6a6; }

    &:hover, &.hover {
      border-color: #ddd;
    }
    &:after {
      @extend %maxed;
    }

    &.red:after { background: red; }
    &.orange:after { background: orange; }
    &.yellow:after { background: yellow; }
    &.green:after { background: #0f0; }
    &.blue:after { background: blue; }
    &.indigo:after { background: indigo; }
    &.violet:after { background: violet; }
    &.white:after { background: white; }
    &.brown:after { background: brown; }
    &.black:after { background: black; }
  }

  .play, .red {
    margin-left: 15px;
  }

  /* flexbox-like layout, using tables */
  .buttons {
    display: table;
    @include box-sizing(border-box);
    width: 100%;

    .group {
      display: table-cell;
      /* make left and right groups equal width */
      &.left { text-align: left; width: 25%; }
      &.center { text-align: center; }
      &.right { text-align: right; width: 25%; }
    }
  }
}

@mixin selected-icons {
  #toolbar.drawing %toolbar-item.mode-drawing,
  #toolbar.brushdialog %toolbar-item.mode-brushdialog,
  #toolbar.gallery %toolbar-item.mode-gallery,
  #toolbar.loading %toolbar-item.mode-loading {
    @content;
  }
}
@include selected-icons {
  display: inline-block;
  &.dev-only { display: none; }
}
body.dev {
  @include selected-icons {
    &.dev-only { display: inline-block; }
  }
}

#dragshadow {
  position: absolute; top: 0; left: 0;
  width: 160px; height: 120px;
  border: 2px solid #ccc;
  @include translate3d(0,0,0);
  &.visible.dragging {
    background: white;
    opacity: 0.3;
  }
  /* animation: fade out, pop in */
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0s linear 0.5s, opacity 0.5s);
  &.visible {
    visibility: visible;
    @include transition-duration(0s);
    @include transition-delay(0s);
  }
}
#splash {
  @extend %maxed;
  background-color: #8594FF; // original splash screen background was #85fdff
  background-image: image-url('colors_splash_clouds_landscape.svg');
  background-position: center center;
  background-repeat: no-repeat;
  @include background-size(cover);
  /* different cloud arrangement if we're in portrait */
  @media (orientation:portrait) {
    background-image: image-url('colors_splash_clouds_portrait.svg');
  }
  &:before { /* paintbrush in center */
    @extend %maxed;
    background-image: image-url('colors_splash_center.svg');
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(contain);
  }
  &:after { /* princess at bottom */
    @extend %maxed;
    background-image: image-url('colors_splash_bottom.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    @include background-size(cover);
  }
}
/* animation properties (fade out splash screen) */
#splash {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0s linear 0.5s, opacity 0.5s);
}
body.splash > #splash {
  visibility: visible;
  opacity: 1;
  @include transition-duration(0s);
  @include transition-delay(0s);
}
