@charset "utf-8";
@import "base";
@import "appcacheui";

html,body { width:100%; height:100%; margin:0px; border:none;}
iframe {
  position: absolute;
  left: 0px; right: 0px;
  top: 0px; bottom: 0px;
  border: none;
  margin: 0;
  width: 100%; height: 100%;
}
#wrapper {
  position: absolute;
  top: 44px; bottom: 0px;
  left: 0px; right: 0px;
}
#toolbar {
  position: absolute;
  height: 44px;
  width: 100%;
  top: 0px; left: 0px;
  /* from http://wiki.sugarlabs.org/go/Human_Interface_Guidelines */
  background: #404040; /* "toolbar grey" */
  overflow: hidden;

  .buttons {
    position: relative;
    margin-left: 10px;
    margin-top: 7px;
    white-space: nowrap;
  }
  %toolbar-item {
    display: inline-block;//@include inline-block;
    margin-left: 5px;
    padding: 0;
  }

  %svg-icon {
    @include background-size(100%);
    background-position: center center;
  }
  .icon {
    @extend %toolbar-item;
    width: 30px;
    height: 30px;
    border: none;
    opacity: 0.9;
    &:hover {
      opacity: 1.0;
    }
    &.play {
      background-image: image-url('media-playback-start.svg');
      @extend %svg-icon;
      &.playing {
        background-image: image-url('media-seek-forward.svg');
      }
    }
    &.undo {
      background-image: image-url('edit-undo.svg');
      @extend %svg-icon;
      @include background-size(190%);
    }
    &.redo {
      background-image: image-url('edit-redo.svg');
      @extend %svg-icon;
      @include background-size(190%);
    }
    &.hard {
      background: url('../icons/hard.png');
    }
    &.soft {
      background: url('../icons/soft.png');
    }
    &.save {
      background-image: image-url('document-save.svg');
      @extend %svg-icon;
    }
  }

  .hard, .play, .red, input, .save {
    margin-left: 10px;
  }

  .swatch {
    @extend %toolbar-item;
    width: 26px;
    height: 26px;
    border: 2px solid #a6a6a6;
    background: url('../icons/trans.png');
    background-position-x: 1px;
    background-position-y: 1px;

    &:hover {
      border-color: #ddd;
    }
    & > span {
      display: block;
      width: 26px; height: 26px;
    }
    &.red > span { background: red; }
    &.orange > span { background: orange; }
    &.yellow > span { background: yellow; }
    &.green > span { background: green; }
    &.blue > span { background: blue; }
    &.indigo > span { background: indigo; }
    &.violet > span { background: violet; }
    &.white > span { background: white; }
    &.brown > span { background: brown; }
    &.black > span { background: black; }
  }
}

#loading { text-align:center; font-size: 30px; }

%maxed {
  display: block;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  content: "";
  background-repeat: no-repeat;
}
#splash {
  @extend %maxed;
  background-color: #8594FF; // original splash screen background was #85fdff
  background-image: image-url('colors_splash_clouds_landscape.svg');
  background-position: center center;
  @include background-size(cover);
  /* different cloud arrangement if we're in portrait */
  @media (orientation:portrait) {
    background-image: image-url('colors_splash_clouds_portrait.svg');
  }
  &:before { /* paintbrush in center */
    @extend %maxed;
    background-image: image-url('colors_splash_center.svg');
    background-position: center center;
    @include background-size(contain);
  }
  &:after { /* princess at bottom */
    @extend %maxed;
    background-image: image-url('colors_splash_bottom.svg');
    background-position: right bottom;
    @include background-size(cover);
  }
}
/* animation properties (fade out splash screen) */
#splash {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0s linear 0.5s, opacity 0.5s);
}
body.splash > #splash {
  visibility: visible;
  opacity: 1;
  @include transition-duration(0s);
  @include transition-delay(0s);
}
