@charset "utf-8";
@import "base";

%maxed {
  display: block;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  @include box-sizing(border-box);
  content: "";
}
%toolbar-shadowed {
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.5));
}

html,body { width:100%; height:100%; margin:0px; }
#loading {
  position: relative;
  text-align:center;
  font-size: 30px;
}
#drawing, .gallery {
  @extend %maxed;
  @extend %toolbar-shadowed;
  width: 100%; height: 100%;
  background: white;
}
#framerate {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  font-size: 20px;
  margin: 0; padding: 0 5px;
  display: none;
}
body.dev #framerate {
  display: block;
}
.gallery {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  padding: 0 20px 20px 20px;

  & > a {
    @include inline-block;
    /* This width/height should match THUMB_WIDTH/THUMB_HEIGHT in drawing.js */
    width: 160px; height: 120px;
    border: 2px solid #ccc;
    margin: 10px;
    vertical-align: middle;
    &:hover, &.hover {
      left: 1px; top: 1px;
    }
    &.dragging {
      opacity: 0.3;
    }
    position: relative; /* position reference for nested canvas */
    @include translate3d(0,0,0); /*workaround for safari scroll bug*/
    & > canvas {
      @extend %maxed;
      background: white; /* hide UUID text */
    }
    &:after {
      @extend %maxed;
    }
    &.UUID-new:after {
      @extend %maxed;
      background-image: image-url('list-add.svg');
      @include background-size(50%);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #404040; /* "toolbar grey" */
      @include box-shadow(none);
    }
  }
}
/* don't enable box shadows on all platforms, because they are very slow on
 * firefox/android. */
body.boxshadows .gallery > a {
  @include box-shadow(3px 3px 10px rgba(0,0,0,0.5));
  &:hover, &.hover {
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.5));
  }
  &:after {
    // a bit of a 3d button effect
    @include box-shadow(inset  5px  5px 30px rgba(255,255,255,0.25),
                        inset -5px -5px 20px rgba(  0,  0,  0,0.15));
  }
}

#brushdialog {
  @import "brushdialog";
}
#mask {
  @extend %maxed;
  background: rgba(0,0,0,0.5);
}
/* animation properties for #mask (fade in/out) */
#mask {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0s linear 0.5s, opacity 0.5s);
}
body.mask > #mask {
  visibility: visible;
  opacity: 1;
  @include transition-delay(0s);
}
